body
{
  background: url("../res/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {}

.slide
{
  height: 95vh;
}

.no-overflow
{
  overflow: hidden;
  width: 693px;
}

iframe
{
  border: none;
}

.CodeMirror
{
  font-size: 16px;
}